/* The popup (background) */

#payPopup {
    display: block;
    /* Shows the popup */
    position: fixed;
    z-index: 9999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    background-color: rgb(0, 0, 0);
    /* Fallback background color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Background color with opacity */
}
/* Popup content box */

#payPopupContent {
    width: 94%;
    min-width: 94%;
    background-color: #fefefe;
    margin: 3% auto 0 auto;
    padding: 0;
    border: 0;
    border-radius: 3px;
    height: 90%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}
#payPopupFrame {
    margin: 0px 0 -5px 0;
    padding: 0px;
    border: none;
    width: 100%;
    height: 100%;
}
/* The close button */

#payPopupClose {
    color: #aaa;
    /* Close button color */
    float: right;
    font-size: 28px;
    /* Close button size */
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
    line-height: 15px;
    height: 15px;
}
#payPopupClose:hover, #payPopupClose:focus {
    color: black;
    /* Close button hover color */
    text-decoration: none;
    cursor: pointer;
}