
/* The Popup (background) */
#payPopup {
    display: block; /* Shows the Popup */
    position: fixed; 
    z-index: 10; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback background color */
    background-color: rgba(0,0,0,0.6); /* Background Color with opacity */
}

/* Popup Content/Box */
#payPopupContent {
    background-color: #fefefe; /* Popup Color */
    margin: auto; 
	margin-top: 30px;
    padding: 6px; 
    border: 1px solid #888; /* Popup Border */
	border-radius: 10px;
    max-width: 700px; /* Popup Width */
	height: 90%; /* Popup Height: */
}

#payPopupFrame{
	margin:0px;
	padding:0px;
	border:none;
	width:100%;
	height:100%;	
}

/* The Close Button */
#payPopupClose {
    color: #aaa; /* Close Button Color */
    float: right;
    font-size: 28px; /* Close Button size */
    font-weight: bold;
	margin:0px;
	padding:0px;
	
	font-family: 'Times New Roman';
    line-height: 15px;
    height: 15px;
}

#payPopupClose:hover,
#payPopupClose:focus {
    color: black; /* Close Button Hover Color */
    text-decoration: none;
    cursor: pointer;
}