<?xml version="1.0"?>
<!--
/*
 * Copyright (c) 2023 Payfast (Pty) Ltd
 *
 * Author: App Inlet (Pty) Ltd
 *
 * Released under the GNU General Public License
 */
-->
<!--suppress XmlHighlighting -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paygate>
                <active>1</active>
                <title>Paygate</title>
                <paygate_id>10011072130</paygate_id>
                <encryption_key>secret</encryption_key>
                <test_mode>1</test_mode>
                <ipn_method>1</ipn_method>
                <instructions>Pay via Paygate</instructions>
                <order_email>1</order_email>
                <invoice_email>0</invoice_email>
                <paygate_cc_vault_active>0</paygate_cc_vault_active>
                <paygate_pay_method_active>0</paygate_pay_method_active>
                <paygate_force_payment_type>0</paygate_force_payment_type>
                <payment_action>Authorization</payment_action>
                <model>PayGate\PayWeb\Model\PayGate</model>
                <successful_order_status>processing</successful_order_status>
                <successful_order_state>processing</successful_order_state>
                <can_authorize_vault>1</can_authorize_vault>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>0</can_refund>
                <can_use_for_multishipping>1</can_use_for_multishipping>
                <enable_logging>0</enable_logging>
            </paygate>
        </payment>
    </default>
</config>
