<?xml version="1.0"?>
<!--
/*
 * Copyright (c) 2023 Payfast (Pty) Ltd
 *
 * Author: App Inlet (Pty) Ltd
 *
 * Released under the GNU General Public License
 */
-->
<!--suppress XmlHighlighting -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\PayGate\PayWeb\Helper\Data">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="paygate" xsi:type="const">PayGate\PayWeb\Model\Config::METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
    <preference for="PayGate\PayWeb\Api\PayWebApiManagementInterface"
                type="PayGate\PayWeb\Model\Api\PayWebApiManagement"/>
    <preference for="PayGate\PayWeb\Api\Data\PayWebApiInterface" type="PayGate\PayWeb\Model\PayWebApi"/>

    <type name="PayGate\PayWeb\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="PayGate\PayWeb\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">paywebLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">PayGate\PayWeb\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>
