<?xml version="1.0"?>
<!--
/*
 * Copyright (c) 2020 PayGate (Pty) Ltd
 *
 * Author: App Inlet (Pty) Ltd
 * 
 * Released under the GNU General Public License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paygate>
                <active>1</active>
                <title>PayGate</title>
                <instructions>Pay via PayGate</instructions>
                <payment_action>Authorization</payment_action>
                <test>1</test>
                <model>Paygate\Paygate\Model\Paygate</model>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_refund>0</can_refund>
                <can_use_for_multishipping>1</can_use_for_multishipping>
                <ipn_method>1</ipn_method>
                <order_email>1</order_email>
                <invoice_email>0</invoice_email>
            </paygate>
        </payment>
    </default>
</config>