<?xml version="1.0"?>
<!--
/*
 * Copyright (c) 2019 PayGate (Pty) Ltd
 *
 * Author: App Inlet (Pty) Ltd
 * 
 * Released under the GNU General Public License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Paygate\Paygate\Helper\Data">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="paygate" xsi:type="const">Paygate\Paygate\Model\Config::METHOD_CODE</item>
            </argument>
        </arguments>
    </type>
</config>